<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lectern</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Lectern</string>
			<key>CFBundleTypeName</key>
			<string>Lectern Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.szakacsmedia.lectern.project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.html</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Lectern</string>
	<key>CFBundleIconFile</key>
	<string>Lectern</string>
	<key>CFBundleIdentifier</key>
	<string>com.szakacsmedia.lectern</string>
	<key>CFBundleName</key>
	<string>Lectern</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License. Copyright 2026 Tyler Szakacs.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lectern Project</string>
			<key>UTTypeIconFile</key>
			<string>Lectern</string>
			<key>UTTypeIdentifier</key>
			<string>com.szakacsmedia.lectern.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lectern</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-lectern-project</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
